/* 
I - General Classes
II - Inputs
III - Grids
IV - Flex
V - Buttons
VI - Media Queries
*/

/* General classes */

.App {
  flex-direction: column;
}

.App h1 {
  font-weight: 700;
  color: var(--clr-dg-cyan-1);
}

.App main {
  flex-direction: column;
  width: 100%;
  max-width: 24rem;
  min-width: 300px;
  border-radius: var(--border-rad);
}

.calc {
  padding-inline: 1em;
}

.totals {
  margin: 1em;
  border-radius: var(--border-rad);
  padding: 1em;
}

.tip {
  padding: 1em 0.5em 0.5em 0.5em;
}

.total {
  padding: 0.5em 0.5em 2em 0.5em;
}

/* Inputs */

.App input {
  background-color: var(--clr-lg-cyan-2);
  border-radius: 0.25rem;
  text-align: right;
}

.inputs,
.custom {
  width: 100%;
  height: 3rem;
  cursor: pointer;
}

.inputs {
  padding-inline: 1em;
}

.no-zero {
  color: red;
}

.no-zero-div {
  justify-content: space-between;
}

.yes-people,
.no-people {
  width: 100%;
  height: 3rem;
  cursor: pointer;
  padding-inline: 1em;
}

.yes-people {
  border: none;
}

.no-people {
  border: 2px solid red;
}

.input-wrapper {
  position: relative;
  margin-top: 0.3em;
}

.input-icon {
  position: absolute;
  left: 3px;
  top: calc(50% - 0.7rem);
  color: var(--clr-dg-cyan-2);
}

/* Grids */

.tip-grid {
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(3, 3rem);
  margin-top: 1em;
}

/* Flex */

.total-flex {
  justify-content: space-between;
  padding-bottom: 0;
}

/* Buttons */

.btn {
  color: var(--clr-white);
  font-weight: 700;
  cursor: pointer;
}

.btn:active {
  background-color: var(--clr-strong-cyan);
  color: var(--clr-dark-cyan);
}

.reset {
  width: 100%;
  height: 3rem;
  color: var(--clr-dark-cyan);
  background-color: var(--clr-strong-cyan);
}

.reset:active {
  background-color: var(--clr-lg-cyan-1);
}

/* Media Queries */

@media screen and (min-width: 1000px) {
  header {
    position: absolute;
    top: 10%;
  }

  .App main {
    flex-direction: row;
    max-width: 57.5rem;
    height: 30rem;
  }

  .container {
    padding-inline: 1em;
  }

  .totals {
    width: calc(50% - 1rem);
    margin: 2em 1em;
  }

  .tip-grid {
    grid-template-columns: repeat(3, 7.1rem);
    grid-template-rows: repeat(2, 3rem);
    margin-top: 1em;
  }

  section {
    margin: 1em 0;
  }

  .total-flex {
    margin: 1em 0;
  }
  .reset {
    margin-top: 4em;
    width: 100%;
  }
}
